##

In [17]:
import pandas as pd
import numpy as np

ibm = pd.read_csv('outputs/ibm-2022-apriori.csv')
ibm

       antecedent     consequent  support  confidance   lift
0            {19}           {48}    0.268       0.496  1.036
1            {48}           {19}    0.268       0.559  1.036
2            {34}           {13}    0.103       0.161  1.084
3            {13}           {34}    0.103       0.694  1.084
4            {15}           {30}    0.185       0.604  1.073
...           ...            ...      ...         ...    ...
10281   {16 1 14}        {34 18}    0.113       0.545  1.168
10282   {1 34 18}        {16 14}    0.113       0.419  1.104
10283  {16 18 14}         {1 34}    0.113       0.405  1.150
10284        {34}   {16 1 18 14}    0.113       0.177  1.113
10285  {16 34 14}         {1 18}    0.113       0.442  1.142

[10286 rows x 5 columns]

In [27]:
def generate_source_target_col(df):
    df['ant_count'] = [len(s.split(' '))+1 for s in df.antecedent]
    df['con_count'] = [len(s.split(' '))+1 for s in df.consequent]
    return df


def analysis(df):
    df = generate_source_target_col(df)
    # get support, confidence threshold
    quantile = df[['support', 'confidence']].quantile(np.arange(0, 1, 0.1))
    low_support = quantile.loc[.2, 'support']
    high_support = quantile.loc[.8, 'support']
    low_confidence = quantile.loc[.2, 'confidence']
    high_confidence = quantile.loc[.8, 'confidence']
    print('quantiled support and confidence')
    display(quantile)

    ll = df[(df.support < low_support) & (df.confidence < low_confidence)]
    lh = df[(df.support < low_support) & (df.confidence > high_confidence)]
    hl = df[(df.support > high_support) & (df.confidence < low_confidence)]
    hh = df[(df.support > high_support) & (df.confidence > high_confidence)]

    print('low_support, low_confidence')
    display(ll.describe())

    print('low_support, high_confidence')
    display(lh.describe())

    print('high_support, low_confidence')
    display(hl.describe())

    print('high_support, high_confidence')
    display(hh.describe())
analysis(ibm)

# ibm.quantile([.1, .9])

quantiled support and confidance

     support  confidance
0.0    0.100       0.140
0.1    0.103       0.198
0.2    0.107       0.240
0.3    0.111       0.291
0.4    0.115       0.328
0.5    0.120       0.391
0.6    0.126       0.433
0.7    0.136       0.520
0.8    0.152       0.582
0.9    0.175       0.712

low_support, low_confidence

          support  confidance        lift   ant_count   con_count
count  512.000000  512.000000  512.000000  512.000000  512.000000
mean     0.103033    0.179922    1.099436    2.134766    4.628906
std      0.001915    0.026589    0.044396    0.341807    0.693120
min      0.100000    0.140000    0.977000    2.000000    3.000000
25%      0.101000    0.150000    1.069000    2.000000    4.000000
50%      0.103000    0.186000    1.097500    2.000000    5.000000
75%      0.105000    0.199000    1.128000    2.000000    5.000000
max      0.106000    0.239000    1.337000    3.000000    6.000000

low_support, high_confidence

          support  confidance        lift   ant_count   con_count
count  360.000000  360.000000  360.000000  360.000000  360.000000
mean     0.102969    0.687578    1.105472    3.752778    3.077778
std      0.001893    0.077771    0.043510    0.682036    0.268194
min      0.100000    0.583000    1.005000    2.000000    3.000000
25%      0.101000    0.609750    1.076750    3.000000    3.000000
50%      0.103000    0.682000    1.106000    4.000000    3.000000
75%      0.105000    0.767250    1.131250    4.000000    3.000000
max      0.106000    0.835000    1.337000    5.000000    4.000000

high_support, low_confidence

          support  confidance        lift  ant_count   con_count
count  111.000000  111.000000  111.000000      111.0  111.000000
mean     0.160432    0.226018    1.073505        2.0    4.216216
std      0.005277    0.007394    0.028117        0.0    0.609104
min      0.153000    0.213000    0.985000        2.0    3.000000
25%      0.156000    0.219500    1.055000        2.0    4.000000
50%      0.160000    0.226000    1.075000        2.0    4.000000
75%      0.165000    0.232000    1.095500        2.0    5.000000
max      0.172000    0.239000    1.126000        2.0    5.000000

high_support, high_confidence

          support  confidance        lift   ant_count   con_count
count  528.000000  528.000000  528.000000  528.000000  528.000000
mean     0.204640    0.704892    1.071040    2.982955    3.030303
std      0.060926    0.068630    0.030432    0.647351    0.171582
min      0.153000    0.583000    0.985000    2.000000    3.000000
25%      0.164000    0.654000    1.048750    3.000000    3.000000
50%      0.184000    0.732000    1.070000    3.000000    3.000000
75%      0.218000    0.760000    1.092000    3.000000    3.000000
max      0.527000    0.807000    1.155000    4.000000    4.000000

In [8]:

analysis(ds[1])

support and confidance low-high threshold:

     support  confidance   lift
0.0    0.003       0.011  0.572
0.1    0.003       0.019  0.903
0.2    0.003       0.029  0.978
0.3    0.004       0.042  1.034
0.4    0.004       0.060  1.085
0.5    0.004       0.082  1.142
0.6    0.005       0.111  1.198
0.7    0.006       0.155  1.270
0.8    0.007       0.209  1.372
0.9    0.011       0.283  1.543

In [34]:
# kag.relationship[0].split('->')[0]
generate_source_target_col(ibm)

,relationship,support,confidance,lift,source,target,source_count,target_count
0,{31717} -> {10413},0.015070,0.925373,59.484142,[31717],[10413],1,1
1,{10413} -> {31717},0.015070,0.968750,59.484142,[10413],[31717],1,1
2,{31717} -> {83249},0.015070,0.925373,59.484142,[31717],[83249],1,1
3,{83249} -> {31717},0.015070,0.968750,59.484142,[83249],[31717],1,1
4,{48818} -> {189},0.015070,0.911765,55.161765,[48818],[189],1,1
...,...,...,...,...,...,...,...,...
3919,{39749} -> {64408},0.025523,0.921053,17.223684,[39749],[64408],1,1
3920,{95398} -> {12305},0.025766,0.972477,25.979030,[95398],[12305],1,1
3921,{12305} -> {95398},0.025766,0.688312,25.979030,[12305],[95398],1,1
3922,{40313} -> {55776},0.028439,0.750000,23.734615,[40313],[55776],1,1
3923,{55776} -> {40313},0.028439,0.900000,23.734615,[55776],[40313],1,1

---

## Check Code Correction

In [6]:
from main import read_ibm_data, read_kaggle_data

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth, association_rules


min_support = 0.1
min_confidence = 0.01

data = read_ibm_data('inputs/ibm-2022.txt')
# data = read_kaggle_data()
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)

freq_item_set = fpgrowth(df, min_support=min_support)
ass = association_rules(freq_item_set, metric="confidence", min_threshold=min_confidence).round(3)

In [7]:
ass.describe()

,antecedent support,consequent support,support,confidence,lift,leverage,conviction
count,10286.000000,10286.000000,10286.000000,10286.000000,10286.000000,10286.000000,10286.000000
mean,0.379890,0.379890,0.132657,0.415220,1.096425,0.011003,1.081555
std,0.169032,0.169032,0.038295,0.182011,0.048244,0.004813,0.086210
min,0.122000,0.122000,0.100000,0.140000,0.973000,-0.003000,0.965000
25%,0.238000,0.238000,0.109000,0.264000,1.063000,0.008000,1.026000
50%,0.356000,0.356000,0.120000,0.391000,1.092000,0.011000,1.053000
75%,0.520000,0.520000,0.142000,0.554750,1.124000,0.014000,1.103000
max,0.717000,0.717000,0.527000,0.840000,1.337000,0.032000,1.776000

In [8]:
kag = pd.read_csv('outputs/kaggle-apriori.csv')
kag = pd.read_csv('outputs/ibm-2022-apriori.csv')
kag.describe()

            support   confidance          lift
count  10286.000000  10286.00000  10286.000000
mean       0.132657      0.41522      1.096425
std        0.038295      0.18201      0.048244
min        0.100000      0.14000      0.973000
25%        0.109000      0.26400      1.063000
50%        0.120000      0.39100      1.092000
75%        0.142000      0.55475      1.124000
max        0.527000      0.84000      1.337000